/* .............................................................. 
.................................................................

load 

.................................................................
.............................................................. */
#content{
    display: none;
}
.load{
    background-color: var(--color2);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99;
    text-align: center;
}
.loader {
    top: 40%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation .6s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

/* .............................................................. 
.................................................................

bulma fix

.................................................................
.............................................................. */
.button{
    border-radius: 0 !important;
    border: 1px !important;
    background-color: var(--color1);
    color: var(--color4);
    text-transform: uppercase;
    font-size: 10px;
    padding: 20px;
    width: 100%;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.button i{
    font-size: 20px;
}
.button:hover{
    background-color: aliceblue;
    color: var(--color1);
}
.negative{
    border-radius: 0 !important;
    border: 1px !important;
    background-color: var(--color4);
    color: var(--color1);
    text-transform: uppercase;
    font-size: 10px;
    padding: 20px;
    width: 100%;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.negative:hover{
    background-color: aliceblue;
    color: var(--color1);
}
.button-space{ height: 19px; }

/* .............................................................. 
.................................................................

nav

.................................................................
.............................................................. */
.logo{
    padding-left: 60px;
    padding-top: 25px
}
.nav-home{
    position: fixed;
    width: 70px;
    height: 70px;
    color: var(--color4);
    background-color: var(--color3);
    right: 71px;
    text-align: center;
    font-size: 30px;
    font-weight: 200 !important;
    padding-top: 16px;
    z-index: 98;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.nav-home:hover{
    color: var(--color3);
    background-color: var(--color4);
}
.nav-menu{
    position: fixed;
    width: 70px;
    height: 70px;
    color: var(--color4);
    background-color: var(--color3);
    right: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 200 !important;
    padding-top: 16px;
    z-index: 98;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.nav-menu:hover{
    color: var(--color3);
    background-color: var(--color4);
}
.nav-screen{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--color3), #4b5963);
    position: fixed;
    z-index: 99;
    display: none;
    padding: 40px;
    overflow-y: scroll;
}
.nav-screen-close{
    font-size: 40px;
    top: 36px;
    left: 210px;
    padding-right: 40px;
    color: var(--color4);
    position: fixed;
    font-weight: 100;
}
.nav-screen-close:hover{
    opacity: .2;
}

.best{
    position: absolute;
    color: var(--color4);
    letter-spacing: 15px !important;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    line-height: 1;
}
.nav-section{
    color: var(--color4);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    left: 200px;
    display: none;
    letter-spacing: 6px;
}
.nav-section-div{
    width: 1px;
    height: 1px;
    background-color: var(--color4);
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-section-loop{
    opacity: 0;
    top: 190px;
}
.nav-links li a{
    text-transform: uppercase;
    color: aliceblue;
    font-size: 12px;
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}
.nav-links li a:hover{
    text-decoration: underline;
    color: burlywood;
}
@media (orientation: portrait) {
    .nav-home{
        position: fixed;
        width: 50px;
        height: 50px;
        color: var(--color4);
        background-color: var(--color3);
        right: 51px;
        text-align: center;
        font-size: 22px;
        font-weight: 200 !important;
        padding-top: 14px;
    }
    .nav-menu{
        position: fixed;
        width: 50px;
        height: 50px;
        color: var(--color4);
        background-color: var(--color3);
        right: 0;
        text-align: center;
        font-size: 22px;
        font-weight: 200 !important;
        padding-top: 14px;
    }
    .nav-screen{
        overflow-y: scroll;
        padding: 10px;
    }
    .nav-screen-close{
        font-size: 40px;
        top: 29px;
        left: 250px;
        padding-right: 40px;
        color: var(--color4);
        position: fixed;
        font-weight: 100;
    }
}

/* .............................................................. 
.................................................................

footer

.................................................................
.............................................................. */

footer .shopping a{
    font-size: 20px;
    color: var(--color3);
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}
footer .shopping a:hover{
    color: var(--color2);
    text-decoration: underline;
}
footer .social-media a i{
    font-size: 40px;
    color: var(--color2);
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}
footer .social-media a i:hover{
    color: var(--color4);
}

/* .............................................................. 
.................................................................

metaverse 

.................................................................
.............................................................. */

.metaverse{
    width: 100%;
    height: 100%;
}
.metaverse-hello{
    position: absolute;
    text-align: center;
    z-index: 90;
    width: 100%;
    bottom: 100px;
    font-size: 60px;
    color: var(--color4);
    font-weight: 200;
}
.metaverse-hello strong{
    color: var(--color3);
}
.metaverse-go{
    position: absolute;
    right: 50px;
    z-index: 90;
    bottom: 20px;
    font-size: 60px;
    color: var(--color4);
    font-weight: 200;
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
    -webkit-transition: scale .5s ease-out;
    -moz-transition: scale .5s ease-out;
    -o-transition: scale .5s ease-out;
    transition: scale .5s ease-out;
}
.metaverse-go:hover{
    color: var(--color3);
    scale: .9;
}
@media (orientation: portrait) {
    .metaverse-hello{
        top: 60px;
        font-size: 20px;
    }
}

/* .............................................................. 
.................................................................

container

.................................................................
.............................................................. */

.container-box{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.container-box li{
    padding: 10px;
    margin-bottom: 40px;
}
.container-thumb{
    border: 1px dotted black;
    width: 100%;
    height: 230px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: scale .1s ease-out;
    -moz-transition: scale .1s ease-out;
    -o-transition: scale .1s ease-out;
    transition: scale .1s ease-out;
}
.container-thumb:hover{
    border: 0;
    scale: 1.2;
    box-shadow: 0px 50px 80px -30px var(--color3) !important;
}
.container-client{
    text-align: center;
    margin-top: 20px;
}
.container-title{
    height: 120px;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 10px;
}
.container-price{
    font-size: 26px;
    font-weight: bold;
    color: var(--color3);
}
.container-box hr{
    border-bottom: 1px dotted var(--color3);
    background-color: transparent;
}
@media (orientation: portrait){
    .container-box{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .container-box li{
        padding: 10px;
        font-size: 12px;
        text-transform: uppercase;
    }
    .container-thumb{
        height: 150px;
    }
    .container-price{
        font-size: 16px;
    }
}