#fwa{
    background-image: none !important;
}
#social > .share.twitter{
    background-image: none !important;
}
#powered{
    background-image: none !important;
}
a{
    pointer-events: none !important;
}